<button data-target="modal1" class="modal-trigger btn black"><i class="material-icons">add</i> </button>

<div class="container" id="legend">
    Categories <br/> <hr>
    Food : <img src="http://maps.google.com/mapfiles/ms/icons/green-dot.png"/> <br/>
    Attraction : <img src="http://maps.google.com/mapfiles/ms/icons/blue-dot.png"/> <br/>
    Activity : <img src="http://maps.google.com/mapfiles/ms/icons/yellow-dot.png"/> <br/>
</div>
        
<div id="modal1" class="modal">
    <div class="modal-content">
        <div class="row">
            <div class="input-field col s12">
                <input id="name" type="text" class="validate">
                <label for="name">Name</label>
            </div>
            <div class="input-field col s12">
                <input id="category" type="text" class="validate">
                <label for="category">Category</label>
            </div>
            <div class="input-field col s6">
                <input id="latitude" type="number" class="validate">
                <label for="latitude">Latitude</label>
            </div>
            <div class="input-field col s6">
                <input id="longitude" type="number" class="validate">
                <label for="longitude">Longitude</label>
            </div>
            <button class="btn black" id="submitPlace">Submit</button>
        </div>
    </div>
</div>

<!-- Map instantiation -->
<div style="width: 100%; height: 100%;">
    <div id="map"></div>
</div>